*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; /* 100% = 16px so 62.5% = 10px
                       1rem = 10px, 10px/16px = 62.5% */
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: rgb(181, 181, 181);
  line-height: 1.7;
}

.container {
  width: 111rem;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 350px) {
  .container {
    width: 27rem;
  }
}
