*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*16px -> 100%   |   10px -> 62.5%   |   10px = 1rem*/
}

body {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  background: #f4f4f4;
  color: rgb(181, 181, 181);
  line-height: 1.7;
  box-sizing: border-box;
  overflow-x: hidden;
}

#root > div:nth-of-type(2) {
  min-height: calc(100vh - 4rem);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}
