*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; /* 100% = 16px so 62.5% = 10px
                        1rem = 10px, 10px/16px = 62.5% */
}
body {
  box-sizing: border-box;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #555555;
  font-size: 1.5rem;
}

.App {
  text-align: center;
}

nav {
  text-align: center;
  margin-bottom: 1em;
  padding-bottom: 0.2em;
  padding-top: 2em;
  background-color: #efefef;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

p,
li {
  /* font-size: 2rem; */
}

ul {
  list-style: none;
}

input,
select,
textarea {
  padding: 0.4em 0.2em;
  font-size: 1.2rem;
}

.active {
  font-weight: bold;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
      margin-bottom: 2.5rem;
}

.delete-button {
  color: red;
  cursor: pointer;
}
